body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 2px solid rgb(112, 112, 112);
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 65px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .centrado{
    position: absolute;
    top: 35%; 
    left: 42%; 
}

.tablero_centrado{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  position: absolute;
  top: 30%; 
  left: 46%; 
}

.reiniciar{
  position: absolute;
  top: 68%; 
  left: 46%; 
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  background: #3498db;
  border-color: #3498db;
  border-radius: 28px;
  color: #ffffff;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
}

.reiniciar:hover {
  background: #3cb0fd;
}